{% layout "layout.liquid" %}
{% block content %}

  <h1 style="background-color: rgb(101, 11, 11); color:gold;">Welcome to MusiqSea</h1>
  <body>
    <h2>MusiqSea</h2>
    <div class="container">
      <div class="wrapper">
        <img src="Images2/images-0.jpeg">
        <img src="/Images2/images-5.jpeg">
        <img src="/Images2/images-2.jpeg">
        <img src="/Images2/images-6.jpeg">
        <img src="/Images2/images-11.jpeg">
        <img src="/Images2/images-13.jpeg">
        <img src="/Images2/images-17.jpeg">
        <img src="/Images2/images-9.jpeg">
        <img src="/Images2/images-8.jpeg">
        <img src="/Images2/images-20.jpeg">
        <img src="/Images2/images-10.jpeg">
        <img src="/Images2/images-16.jpeg">
        <img src="/Images2/images-15.jpeg">
        <img src="/Images2/images-12.jpeg">
        <img src="Images2/images-0.jpeg">
        <img src="/Images2/images-1.jpeg">
        <img src="/Images2/images-2.jpeg">
        <img src="/Images2/images-3.jpeg">
        <img src="/Images2/images-4.jpeg">
        <img src="/Images2/images-5.jpeg">
        <img src="/Images2/images-6.jpeg">
        <img src="/Images2/images-7.jpeg">
        <img src="/Images2/images-8.jpeg">
        <img src="/Images2/images-9.jpeg">
        <img src="/Images2/images-10.jpeg">
        <img src="/Images2/images-11.jpeg">
        <img src="/Images2/images-12.jpeg">
        <img src="/Images2/images-13.jpeg">
        <img src="/Images2/images-14.jpeg">
        <img src="/Images2/images-15.jpeg">
        <img src="/Images2/images-16.jpeg">
        <img src="/Images2/images-17.jpeg">
        <img src="/Images2/images-18.jpeg">
        <img src="/Images2/images-19.jpeg">
        <img src="/Images2/images-20.jpeg">
        <img src="/Images2/images-21.jpeg">
        <img src="/Images2/images-22.jpeg">
        <img src="/Images2/images-24.jpeg">
        <img src="/Images2/images-25.jpeg">
        <img src="/Images2/images-26.jpeg">
        <img src="/Images2/images-27.jpeg">
        <img src="/Images2/images-28.jpg">
        <img src="/Images2/images-29.jpg">

      </div>
    </div>



  </body>
  <figure>
    <figcaption>Listen to Music
    </figcaption>


    <iframe
      allow="autoplay"
      width="100%"
      height="300"
      src="https://www.iheart.com/artist/bruno-mars-anderson-paak-silk-sonic-337578/?embed=true"
      frameborder="0"></iframe>
    <iframe
      allow="autoplay"
      width="100%"
      height="300"
      src="https://www.iheart.com/playlist/top-pop-2022-312064750-KknAoLYQ4eifo3maB86ZZM/?embed=true"
      frameborder="0"></iframe>
    <iframe
      allow="autoplay"
      width="100%"
      height="300"
      src="https://www.iheart.com/playlist/the-classic-rock-channel-playlist-312064750-VJFiRQmE8F2BJPJiwx7oF4/?embed=true"
      frameborder="0"></iframe>
    <iframe
      allow="autoplay"
      width="100%"
      height="300"
      src="https://www.iheart.com/playlist/top-rock-2022-312064750-KFu67bsFYjAXEaaSt6daqp/?embed=true"
      frameborder="0"></iframe>
    <iframe
      allow="autoplay"
      width="100%"
      height="300"
      src="https://www.iheart.com/playlist/top-hip-hop-2022-312064750-XfYPD6J63oL34tnrv9ejri/?embed=true"
      frameborder="0"></iframe>
    <iframe
      allow="autoplay"
      width="100%"
      height="300"
      src="https://www.iheart.com/playlist/jazz-essentials-312064750-9v7QfdYeie6aZ1fMP2P8i9/?embed=true"
      frameborder="0"></iframe>
    <iframe
      allow="autoplay"
      width="100%"
      height="300"
      src="https://www.iheart.com/playlist/jazz-now-312064750-HPka82niLVvVitEAPhhKxr/?embed=true"
      frameborder="0"></iframe>



  </figure>



{% endblock %}