{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-sm">
    <form action="/songs" method="POST">
      <fieldset>


        <legend>Create New Song</legend>
        <label class="form-label">Song title:
        </label>
        <input
          type="text"
          name="title"
          placeholder=" song title: "
          value="{{ song.title }}"
          class="form-control">


        <label class="form-label">Artist:</label>
        <input
          type="text"
          name="artist"
          placeholder=" artist: "
          value="{{ song.artist }}"
          class="form-control">

        <label class="form-label">Album Name:</label>
        <input
          type="text"
          name="albumname"
          value="{{ song.albumName }}"
          placeholder="Album Name"
          class="form-control">


        <label class="form-label">Release Date:</label>
        <input
          type="date"
          name="Release year"
          value="{{ song.releaseDate }}"
          placeholder="Release Date"
          class="form-control">
      </fieldset>
      <input
        type="submit"
        value="Create New Song"
        class="btn btn-success">

    </form>
  </div>
{% endblock %}